{% extends 'main/page_layout.html' %}
{% block title %}О нас{% endblock %}
{% load static %}

{% block content %}
<div class="row">
    <div id="about-left-column" class="col-4"></div>
    <div id="about-center-column" class="col-4">
        <h1 class= "text-center">Наша команда</h1>
        <div id="about-team">
            <ul>
                <li><p id="team1"><strong>Екатерина Зверева</strong></p></li>
                <p id="task1"><small> Разработка веб-приложения на Django, настройка структуры страниц, размещение элементов на странице, включая кнопки, поля, и другие элементы с помощью Python, HTML, CSS. Настройка оформления приложения. Работа над необходимыми настройками для корректной работы веб-приложения в settings.py.</small></p>
                <li><p id="team2"><strong>Александр Мулявин</strong></p></li>
                <p id="task2"><small>Разрабoтка десктопного приложения, виджетов выделения и окна просмотра изображения с помощью PyQt5.</small></p>
                <li><p id="team3"><strong>Александр Кузнецов</strong></p></li>
                <p id="task3"><small>Разработка API для сервиса распознавания текста (OCR). Выбор и установка библиотеки OCR. Замена текста изображения на переведенный. Развертывание сервисов (API, Web, LibreTranslate) с помощью Docker. Настройка кнопок, полей в веб- приложении на Джанго.</small></p>
                <li><p id="team4"><strong>Денис Косташ</strong></p></li>
                <p id="task4"><small>Разработка функционала на десктопном приложении для перевода текста на другой язык с помощью PyQt5. Разработка документации для десктопного приложения. </small></p>
                <li><p id="team5"><strong>Влад Телегинский</strong></p></li>
                <p id="task5"><small>Разработка функционала для отправки поискового запроса с использованием выделенного пользователем изображения в качестве поискового запроса в системе Yandex с помощью PyQt5.</small></p>
                <li><p id="team6"><strong>Сергей Одинцов</strong></p></li>
                <p id="task6"><small>Разработка функционала для перевода текста на другой язык с помощью LibreTranslate. Добавление копирования изображения в буфер,  обрезки текста и преобразования переноса строк, распознавания и копирования текста в буфер с помощью PyQt5. Разработка документации для веб-приложения.</small></p>
            </ul>
        </div>
    </div>
    <div id="about-right-column" class="col-4">
    </div>
</div>
{% endblock %}