{% extends 'main/page_layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="row" style="margin-top: 100px; color: white;">
    <div class="col-4" style="width: 20%"></div>
    <div class="col-4" style="width: 60%">
        <h1 class= "text-center">Наша команда</h1>
        <div style="margin-top: 80px; padding-left: 40px; text-align: justify; font-size: 20px;">
            <ul>
                <li><p><strong>Екатерина Зверева</strong></strong></p></li>
                <p style="margin-top: -25px; font-style: italic;"><small> Разрабoтала приложение на Django, настраила интерфейсы, работа над которыми велась с помощью CSS, HTML, Python.</small></p>
                <li><p><strong>Александр Мулявин</strong></p></li>
                <p style="margin-top: -25px; font-style: italic;"><small>Разрабoтал приложение с помощью PyQt5, настроил интерфейс, работа над которым велась с помощью Python.</small></p>
                <li><p><strong>Александр Кузнецов</strong></p></li>
                <p style="margin-top: -25px; font-style: italic;"><small>Написать задачи</small></p>
                <li><p><strong>Денис Косташ</strong></p></li>
                <p style="margin-top: -25px; font-style: italic;"><small>Написать задачи</small></p>
                <li><p><strong>Влад Телегинский</strong></p></li>
                <p style="margin-top: -25px; font-style: italic;"><small>Написать задачи</small></p>
                <li><p><strong>Сергей Одинцов</strong></p></li>
                <p style="margin-top: -25px; font-style: italic;"><small>Написать задачи</small></p>
            </ul>
        </div>
    </div>
    <div class="col-4" style="width: 20%">
    </div>
</div>
{% endblock %}