{% extends 'main/page_layout.html' %}

{% block title %}О проекте{% endblock %}

{% block content %}
<div class="row" style="margin-top: 100px; color: white;">
    <div class="col-4" style="width: 20%"></div>
    <div class="col-4" style="width: 60%">
        <h1 class= "text-center">О проекте</h1>
        <div style="margin-top: 80px; padding-left: 40px; text-align: justify; font-size: 20px;">
            <p>Цель проекта: cоздание инструмента для упрощения работы с изображениями.</p>
            <p>Главной целью нашего проекта является разработка инновационного инструмента, который позволит существенно упростить и автоматизировать работу с изображениями. Такой инструмент будет особенно полезен в ситуациях, когда необходимо выполнить следующие задачи:
                <ul>
                    <li>Выделение определенной области изображения для дальнейшего распознавания текста или объектов.</li>
                    <li>Распознавание текста на выделенном участке изображения с высокой степенью точности.</li>
                    <li>Перевод текста (или таблицы) на изображении на другой язык.</li>
                    <li>Выполнение поиска по выделенной области изображения с использованием поисковых систем.</li>
                </ul>
                Таким образом, наш инструмент предоставит пользователям возможность быстро и эффективно обрабатывать различные типы изображений для работы с текстом, что позволит сэкономить время и повысить производительность работы.
            </p>
        </div>
    </div>
    <div class="col-4" style="width: 20%">
    </div>
</div>
{% endblock %}