<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'main/image/favicon-32x32.png' %}" >
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body id="body-style">
    <script>
        function sendDataToServer(url, data, onSuccess, onError, onComplete) {
            var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            $.ajax({
                type: "POST",
                url: url,
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: data,
                success: onSuccess,
                error: onError,
                complete: onComplete
            });
        }
    </script>
    <nav class="navbar-default">
        <div class="comtainer-fluid">
            <div id="nav-background">
                <ul class="nav nav">
                    <li class="nav-item">
                        <a class="navbar-brand" href="#">
                            <img id="logo-icon" src="{% static 'main/image/logo_icon.png' %}" alt="Лого">
                            <span class="logo fs-3">Умные ножницы</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}" >О проекте</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app' %}" >Приложение</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a href="static/main/files/uploaded/desktop_client.zip" download><li><button id="btn-download-exe" class="btn btn-info"><i class="bi bi-filetype-exe"></i> Скачать на ПК </button> </li></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 <main>
        {% block content %}
        {% endblock %}
 </main>
</body>
</html>