{% extends 'main/page_layout.html' %}
{% load static %}
{% block title %}Приложение{% endblock %}

{% block content %}
<div class="row" style="margin-top: 100px; color: white;">
    <div class="col-4 text-center">
        <img id="img-app" src="{% static 'main/image/logo_icon.png' %}" style="border-radius: 10px; margin-top: 30px;" class="img-fluid rounded" alt="alternative text">
    </div>
    <div class="col-4 text-center">
        <div class="form" style="margin-top: 30px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Перевести текст на изображении</button>
            </form>
        </div>

        <img width="400px" {{ hidden_image }} src="data:image/jpeg;base64,{{ encoded_image }}" />
    </div>
</div>
{% endblock %}