/*@media screen and (max-width: 998px) {
    textarea#text-1 {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    textarea#text-1 {
        font-size: 10px;
    }
}

@media screen and (max-width: 576px) {

}*/


/*body {
    background-image: url("https://pibig.info/uploads/posts/2022-11/1669679300_47-pibig-info-p-fon-cherno-fioletovii-oboi-48.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* старое aside {
    float: left;
    background: #2f1433fa;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5xp solid #4d4d4d;
    opacity: 0.9;
}*/

/* новое*/
/*aside {
    background: #2f1433fa;
    overflow: hidden;
}

aside a {
    float: left;
    color: #2f1433fa;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 5px;
}

/* новое конец*/

/*aside img {
    width: 70px;
    float: right;
    margin-left: 10px;
    margin-top: 3px;
}*/

/*aside .logo {
    float: right;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 19px;
    font-weight: bold;
    position: relative;
    top: -5px;
    color: white;
}

/*aside h3 {
    margin-top: 50px;
    font-size: 25px;
}*/

/*aside ul {list-style:none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 70px;
    text-align: center;
    width: 100%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

/*Новое для отображение элементов*/

/*.box {
    width: 100%;
    height: 750px;
    border: 5px solid #f00;
    position: relative;
}

col-4 {
    position: absolute;
    left: 45%;
    top: 50px;
    color: white;
}

textarea#text-1 {

    margin: auto;


}


/*
label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 0.5%;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}

button#submit {
    position: relative;
    left: 34%;
    top: 18px;
}

textarea#text,
 label#label-text {
    position: relative;
    top: -117px;
}

a#download-result{
    position: relative;
    left: 51%;
    top: -20px;
}*/

/*img#img-app {
    position: absolute;
    left: 22%;
    width: 20%;
    margin: 50px auto;
}*/

#id_source_text, #id_translated_text {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px 10px 0;
}
