body {
    background-image: url("https://wallpaperbat.com/img/323227-green-blue-balls-abstract-wallpaper-green-blue-balls.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

aside {
    float: left;
    background: #2E8B57;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5xp solid #4d4d4d;
}

aside img {
    width: 90px;
    float: left;
}

aside .logo {
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 25px;
}

aside ul {list-style:none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto}

label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}

button#submit {
    position: relative;
    left: 630px;
    top: 10px;
}

textarea#text,
 label#label-text {
    position: relative;
    top: -135px
}

img#img-app {
    position: absolute;
    left: 420px;
    width: 20%;
    margin: 50px;
}

a#download-result{
    position: relative;
    left: 930px;
    top: -28px;
}