click==8.1.7
colorama==0.4.6
iniconfig==2.0.0
packaging==23.2
pillow==10.2.0
pluggy==1.4.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5-stubs==5.15.6.0
pyqtkeybind==0.0.9
pytest==8.0.2
python-dotenv==1.0.1
setuptools==68.2.2
wheel==0.41.2
pyyaml==6.0.1
pydantic~=2.6.3
requests~=2.31.0
googletrans-py==4.0.0